.container-cabecalho{
    position: relative;
    display: flex;
    align-items: center;
    color: rgb(250, 250, 3);
    right: 10%;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
}